body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* style de la navbar */
.navbar {
    align-items: center;
    justify-content: space-between;
    background-color: #cfa;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .menu button {
    background-color: #ccc;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .menu {
      margin-top: 10px;
    }
    
    .menu button {
      margin-left: 0;
      margin-right: 10px;
    }
  }

.error-redirect{
  text-align: center;
}

/* style de l'easter-egg*/
.easter-egg-redirect {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.logo-ic{
  width: 10%;
}

@media (max-width: 768px) {
  .easter-egg-redirect {
    width: 30px;
    height: 30px;
    bottom: 5px;
    right: 5px;
  }
}