{% extends 'base.html' %}
  {% block title %}ERREUR 404 - Page introuvable{% endblock %}
  {% block base %}
    <script src="../static/js/404.js"></script>
    <div class="error-box">
      <h1 class="error-h1">Il semblerait que la page que vous recherchez n'existe pas</h1>
      <audio id="musique" src="../static/media/audio/musique_ic.wav"></audio>
      <a href="{{ url_for('easter_egg') }}" onmouseover="sound()" onmouseout="stopsound()" class="easter-egg-redirect">
        <img alt="easter egg" src="../static/media/img/logo_ic.webp" class="logo-ic">
      </a>
      <a href="{{ url_for('index') }}"><p class="error">Cliquez ici pour retourner à la page d'accueil</p></a>
    </div>
  {% endblock %}