{% extends "base.html" %}

{% block base %}
<div class="form-super-container">
    <div class="form-container">
        <form method="POST" action="{{ url_for('add_new_contact', number=number) }}" class="form">
            <h1 class="login-h1">Ajouter un contact</h1>
            <input type="text" name="name" placeholder="Prenom" class="form-input" required >
            <input type="text" name="last_name" placeholder="Nom de famille" class="form-input" required>
            <input type="email" name="email" placeholder="Email" class="form-input" required>
            <input type="text" name="phone" placeholder="Téléphone" class="form-input">
            <input type="text" name="post" placeholder="Poste actuel" class="form-input">
            <select name="statut_id" class="form-input">
                {% for statut in status %}
                <option value="{{ statut[0] }}">{{ statut[1] }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="form-button">Ajouter un contact</button>
        </form>
{% endblock %}