{% extends "base.html" %}
{% block base %}
<div class="form-super-container">
    <div class="form-container">
        <form method="POST" action="{{ url_for('add_new_company')}}" class="form">
            <h1 class="login-h1">Ajouter une entreprise</h1>
            <input type="number" name="siret" placeholder="siret" class="form-input" required>
            <input type="text" name="name" placeholder="Nom de l'entreprise" class="form-input" required>
            <input type="text" name="description" placeholder="Description de l'entreprise" class="form-input">
            <input type="text" name="adress" placeholder="Adresse" class="form-input" required>
            <input type="text" name="city" placeholder="Ville" class="form-input" required>
            <input type="number" name="postal_code" placeholder="Code postal" class="form-input" required>
            <input type="url" name="url" placeholder="URL" class="form-input">
            <button type="submit" class="form-button">Ajouter une entreprise</button>
        </form>
{% endblock%}