<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="../static/js/404.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../static/media/img/head-logo-ljbac.png" alt="Logo LJBAC">
        </div>
        <div class="menu">
            <a href="{{ url_for('index') }}">Accueil</a>
        {% if session['user_is_connected'] %}
            <a href="{{ url_for('disconnect')}}">Se déconnecter</a>
        {% else %}
            <a href="#">Param</a>
            <a href="{{ url_for('login') }}">Se connecter</a>
        {% endif %}
        </div>
    </nav>
    {% block base %}

    {% endblock %}
</body>
</html>