{% extends "base.html" %}

{% block base %}
    <h1 class="index-h1">Générez plus de leads avec le CRM qui facilite votre prospection</h1>
    <a href="{{ url_for('register') }}" class="index-redirect" title="Créer un compte">Créer un compte</a>
    <div class="index-container">
        <p class="index-paragraph" id="index-p1">        
            Alors, prêt à booster votre prospection et à générer plus de leads avec notre CRM ? Inscrivez-vous dès maintenant pour commencer à utiliser notre outil puissant et facile à utiliser.
        </p>
        <p class="index-paragraph" id="index-p2">
            Notre CRM est facile à utiliser et à mettre en place, avec une interface intuitive qui vous permet de gérer rapidement toutes vos données clients. Vous pouvez également suivre les interactions de vos prospects sur les réseaux sociaux et personnaliser vos messages de prospection en conséquence.
        </p>
        <p class="index-paragraph" id="index-p3">
            Nous offrons également des fonctionnalités de marketing automation, telles que l'envoi automatique de courriels et de messages de suivi, pour que vous puissiez rester en contact avec vos prospects sans avoir à y penser constamment.
        </p>
        <p class="index-paragraph" id="index-p4">
            Vous recherchez un moyen facile et efficace de générer des leads pour votre entreprise ? Ne cherchez pas plus loin que notre CRM. Avec notre outil de gestion de la relation client (CRM), vous pouvez gérer vos prospects, suivre les interactions et les opportunités de vente, et améliorer votre taux de conversion.
        </p>
    </div>
{% endblock %}