{% extends "base.html" %}

{% block base %}
<div class="company_list">
    <div>
        <a href="{{ url_for('add_new_company') }}">Add new...</a>
    </div>
    {% if list_company %}
        {% for list in list_company %}
            <a href="{{ url_for('company', number=list['siret']) }}">
                <div class="company_item">
                    {{ list['company_name'] }}
                    {{ list['description'] }}
                    {{ list['url'] }}
                </div>  
            </a>
        {%endfor%}
    {% else %}
            <p>Aucune entreprise enregistrée pour cet utilisateur</p>
    {% endif %}
</div>
{% endblock %}