<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page de connexion</h1>
    <form method="POST" action="{{ url_for('traitement_login') }}">
        <input type="email" name="email" placeholder="Adresse email">
        <input type="password" name="password" placeholder="Mot de passe">
    </form>
</body>
</html>