{% extends "base.html" %}
{% block base %}
    <div class="form-container">
        <form method="POST" action="{{ url_for('traitement_login') }}" class="form">
            <h1 class="login-h1">Se connecter</h1>
            <input type="email" name="email" placeholder="Adresse email" class="form-input" required>
            <input type="password" name="password" placeholder="Mot de passe" class="form-input" required>
            <button type="submit" class="form-button" required>Se connecter</button>
            <a href="{{ url_for('register') }}" class="login-redirect" title="Créer un compte" required>Créer un compte</a>
        </form>
    </div>
{% endblock %}