{% extends "base.html" %}

{% block base %}
<div class="form-super-container">
    <div class="form-container">
        <form method="POST" action="{{ url_for('modify_contact') }}" class="form">
            <h1 class="login-h1">Modifier un contact</h1>
            <input type="hidden" name="contact_id" value="{{ contact_id }}">
            <input type="text" name="name" placeholder="Prenom" value="{{ user_infos[1] }}" class="form-input" required>
            <input type="text" name="last_name" placeholder="Nom de famille" value="{{ user_infos[0] }}" class="form-input" required>
            <input type="email" name="email" placeholder="Email" value="{{ user_infos[2] }}" class="form-input" required>
            <input type="text" name="phone" placeholder="Téléphone" value="{{ user_infos[3] }}" class="form-input">
            <input type="text" name="post" placeholder="Poste actuel" value="{{ user_infos[4] }}" class="form-input">
            <select name="statut_id" class="form-input">
                {% for statut in status %}
                <option value="{{ statut[0] }}"{% if statut[0] == user_infos[5]  %} selected {%endif%}>{{ statut[1] }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="form-button">Envoyer</button>
        </form>
    
        
{% endblock %}